{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content%}
{% include 'home/partials/main-hero.html' with title="ART IN FOCUS" subtitle="YOUR STORY" span="Captured" %}
{% include 'home/partials/quote-large.html' %}
{% include 'home/partials/bento-box.html' %}
{% include 'home/partials/offer.html' %}
{% include 'home/partials/assertions.html' %}

{% endblock %}