<div class="ga-consent-banner fixed bottom-0 z-50 w-full bg-white p-5 hidden" id="cookie-consent">
  <div class="container mx-auto flex flex-row justify-between">
    <div class="">
      <h2 class="inter text-2xl font-semibold">Cookies Consent</h2>
      <p class="inter opacity-[0.6]">We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</p>
    </div>
    <div class="flex justify-center flex-col">
      <button class="bg-primary px-4 py-2 rounded-md inter font-semibold hover:opacity-[0.6]" id="accept-cookies">Okay</button>
    </div>
  </div>
</div>