{% load static %}

<footer class="center-bg-img dark-overlay relative py-5" style="background-image: url({% static 'img/footer.jpg' %})">
  <div class="py-[5rem] container mx-auto relative z-10 flex flex-col md:flex-row justify-between">
    <div class="basis-1/4 p-3 max-md:pt-[3rem]">
      <p class="inter text-white font-semibold pb-5 text-base opacity-[0.6]">Ready to capture the moments that matter the most?</p>
      <p class="inter text-white text-2xl font-semibold">Let's make it happen. Contact me today!</p>
    </div>
    <div class="basis-1/2 p-3">
      <h2 class="mb-5 uppercase text-white text-xl inter font-bold opacity-[0.6]">Lets Talk</h2>
      <p>
        <a href="tel:tel:07712291162" class="text-white font-semibold text-2xl inter pt-5">07712 291 162</a>
      </p>
      <p class="pt-5"><a href="mailto:hello@fstops.co.uk" class="text-white font-semibold text-2xl inter pt-5 underline">hello@fstops.co.uk</a></p>
      <p class="opacity-[0.6] inter text-md text-white mt-5">Photographer</p>
      <p class="inter text-md text-white font-semibold">(Based in Cornwall)</p>
    </div>
    <div class="basis-1/4 p-3 max-md:py-[2rem]">
      <ul>
        <li class="py-2"><a class="text-white text-2xl inter font-bold" href="{% url 'home' %}">Home</a></li>
        <li class="py-2"><a class="text-white text-2xl inter font-bold"  href="{% url 'portfolio' %}">Portfolio</a></li>
        <li class="py-2"><a class="text-white text-2xl inter font-bold"  href="{% url 'blog' %}">News</a></li>
        <li class="py-2"><a class="text-white text-2xl inter font-bold"  href="{% url 'about' %}">About me</a></li>
        <li class="py-2"><a class="text-white text-2xl inter font-bold"  href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-between container mx-auto p-3 relative z-10">
    <div class="basis-2/3 p-3">
      <h2 class="text-white font-bold text-xl md:text-7xl uppercase inter">FStops <span class="block">Photography</span></h2>
    </div>
    <div class="basis-1/3 p-3 flex flex-col justify-end">
      <a href="https://www.instagram.com/fstopsphotography" target="_blank" class="text-white white inline font-bold inter text-base md:text-base link-primary relative mt-5" target="_blank">
        Instagram
        <span class="inline-block absolute">
          <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 256"
            style="user-select: none; width: 20px; height: 20px; display: block; fill: rgb(255,255,255); color: rgb(255,255,255); flex-shrink: 0;"
            focusable="false"
            class="inline ml-3"
            color="rgb(255,255,255)">
            <g color="rgb(255,255,255)" weight="regular"><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path></g>
          </svg>
        </span>
      </a>
      <p class="text-white opacity-[0.6] inter text-md pt-[3rem]">© 2024 FStops. All rights reserved.</p>
    </div>
  </div>
</footer>