{% load static %}

<section class="w-full relative z-50 p-1 pt-3 px-5 bg-white">
  <div
    class="relative max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 z-20"
  >
    <h1>
      <a href="/" class="flex items-center space-x-3">
          <span class="inter self-center text-2xl font-bold whitespace-nowrap">
            F.
          </span>
      </a>
    </h1>
    <div class="flex items-center justify-between gap-4 inter">
      <div class="px-5 max-md:hidden">
        <p class="font-semibold text-sm pb-2 inter">Photographer</p>
        <p class="font-semibold opacity-[0.6] text-sm inter">(Based in Cornwall)</p>
      </div>
      <div class="px-5">
        <p class="font-semibold text-sm pb-2 relative">
          <a href="tel:07712291162" class="transition-all inter">
            07712 291 162
          </a>
        </p>
        <p class="font-semibold text-sm">
          <a href="mailto:hello@fstops.co.uk" class="transition-all inter">
            hello@fstops.co.uk
          </a>
        </p>
      </div>
      <div class="px-5 max-md:hidden">
        <a href="https://www.instagram.com/fstopsphotography" target="_blank" class="animate-arr flex justify-between align-items-baseline font-semibold inter">
          Instagram
          <span class="inline-block h-[20px] w-[20px] pl-1 relative">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="top-[3px] absolute"
              viewBox="0 0 256 256"
              style="user-select: none; width: 20px; height: 20px; display: block; fill: rgb(0, 0, 0); color: rgb(0, 0, 0); flex-shrink: 0;"
              focusable="false"
              color="rgb(0, 0, 0)">
              <g color="rgb(0, 0, 0)" weight="regular"><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path></g>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="block w-auto">
      {% include 'partials/menuburger.html' %}
    </div>
  </div>
</section>
<nav id="nav-overlay" class="absolute nav-container w-full min-h-screen md:h-[60vh] top-0 z-40 bg-off-black">
  <div class="container mx-auto h-full flex justify-between align-items-center">
    <div class="hidden md:flex flex-col justify-around p-3 basis-1/2">
      <h2 class="text-white text-5xl font-bold uppercase pb-0 p-5">FStops<br>Photography</h2>
    </div>
    <div class="h-full md:basis-1/2 flex flex-col justify-center max-md:min-h-screen max-md:w-full">
      <ul class="align-items-center h-full w-full flex flex-col justify-center text-white">
        <li class="font-semibold p-3">
          <a class="text-xl max-md:block text-center inter" href="{% url 'home' %}">Home</a>
        </li>
        <li class="font-semibold p-3">
          <a class="text-xl max-md:block text-center inter" href="{% url 'about' %}">About</a>
        </li>
        <li class="font-semibold p-3">
          <a class="text-xl max-md:block text-center inter" href="{% url 'services' %}">Services</a>
        </li>
        <li class="font-semibold p-3">
          <a class="text-xl max-md:block text-center inter" href="{% url 'portfolio' %}">Portfolio</a>
        </li>
        <li class="font-semibold p-3">
          <a class="text-xl max-md:block text-center inter" href="{% url 'blog' %}">News</a>
        </li>
        <li class="font-semibold p-3">
          <a class="text-xl max-md:block text-center inter" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
