@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --gold-color: rgb(255, 228, 174);
  --black-color: #111112;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
}

#menu-burger {
  position: relative;
  stroke: #111112;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  .bg-fixed {
    background-attachment: scroll;
  }
}

.bg-off-black {
  background-color: var(--black-color);
}

.gold-text {
  color: var(--gold-color);
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", serif;
}

p {
  font-family: "Inter", sans-serif;
}

.pl-3 {
  padding-left: 1rem;
}

.text-muted {
  color: rgba(255, 255, 255, 0.6);
}

.animate-arr svg {
  transition: transform 0.3s ease-in-out;
}

.animate-arr:hover {
  svg {
    transform: translateY(-4px);
  }
}

.link-primary {
  border-bottom: 2px solid #111112;
  display: inline-block;
  padding-bottom: 1rem;

  span {
    bottom: 1rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    span {
      bottom: 1.5rem;
    }
  }
}

.link-primary.white {
  border-bottom: 2px solid #fff;
}

.bl-white {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.bb-white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.border-corner {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.border-bottom-0 {
  border-bottom-width: 0;
}

.border-left-0 {
  border-left-width: 0;
}

.border-right-0 {
  border-right-width: 0;
}

.border-top-0 {
  border-top-width: 0;
}

.dark-overlay {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
  }
}

.bg-dark-gradient:after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%,
                                    rgba(0,0,0,0.8) 20%,
                                    rgba(0,0,0,0) 100%);
}

.center-bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.border-l-grey {
  border-left: 1px solid rgba(0,0,0,0.1);
}

.border-r-grey {
  border-right: 1px solid rgba(0,0,0,0.1);
}

.border-b-grey {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


/** Navbar **/

#nav-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#nav-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

/*
 Article Styles
*/

.article-body {
  h2 {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    color: #111112;
  }

  p {
    color: #111112;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 15px;
  }
}