{% load static %}

<section class="py-[5rem] bg-white" id="faq">
  <div class="container mx-auto p-3 pb-[5rem]">
    <div class="w-full border-t-2 pt-3 flex flex-row justify-between">
      <h2 class="inter font-semibold text-xl">Photographer's Diary</h2>
      <p class="inter font-semibold text-xl">04</p>
    </div>
  </div>
  <div class="container mx-auto flex flex-col md:flex-row justify-between gap-4">
    <div class="basis-1/3 flex flex-col justify-between p-3">
      <div data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000">
        <h2 class="inter text-7xl font-semibold pb-5">
          My blog
        </h2>
        <p class="inter opacity-[0.6] font-semibold text-xl pt-5">
          Curious about that goes into a perfect photoshoot? Check out my latest tips and behind-the-scenes stories.
        </p>
      </div>
      <div>
        <a href="/" class="font-bold inter text-base md:text-2xl link-primary relative mt-5" target="_blank">
          View all
          <span class="inline-block absolute">
            <svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 256 256"
              style="user-select: none; width: 30px; height: 30px; display: block; fill: rgb(0,0,0); color: rgb(0,0,0); flex-shrink: 0;"
              focusable="false"
              class="inline ml-3"
              color="rgb(0, 0, 0)">
              <g color="rgb(0, 0, 0)" weight="regular"><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path></g>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="basis-2/3 p-3 flex flex-col lg:flex-row justify-between gap-8">
      {% for article in articles %}
      <a data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000" href="#" class="overflow-hidden center-bg-img flex flex-col justify-between basis-1/2 p-3 dark-overlay rounded-lg relative" style="background-image:url({{ article.thumbnail.url }})">
        <div class="flex flex-row justify-between w-full relative z-20 pb-[3rem] md:pb-[20rem]">
          <p class="inter text-base font-semibold text-white">{{article.date|date:"M d, Y"}}</p>
          <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 256"
            style="user-select: none; width: 30px; height: 30px; display: block; fill: rgb(255,255,255); color: rgb(255,255,255); flex-shrink: 0;"
            focusable="false"
            class="inline ml-3"
            color="rgb(255,255,255)">
            <g color="rgb(255,255,255)" weight="regular"><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path></g>
          </svg>
        </div>
        <div class="p-3 relative z-20">
          <h3 class="inter text-2xl font-semibold text-white">{{ article.title }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>