{% load static %}
<section class="bg-off-black relative offer-bg  bg-fixed">
  <div class="top-0 absolute left-0 w-full p-5 flex flex-row justify-between align-items-center">
    <div class="border-corner border-right-0 border-bottom-0"></div>
    <div class="border-corner border-left-0 border-bottom-0"></div>
  </div>

  <div class="bottom-0 absolute left-0 w-full p-5 flex flex-row justify-between align-items-center">
    <div class="border-corner border-top-0 border-right-0"></div>
    <div class="border-corner border-top-0 border-left-0"></div>
  </div>

  <div class="min-h-screen container mx-auto flex max-md:flex-col md:flex-row justify-between items-stretch py-[5rem] md:py-[10rem] relative z-10 p-3">
    <div class="flex flex-col justify-between basis-1/2">
      <div data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000">
        <h2 class="inter text-white text-4xl md:text-5xl lg:text-7xl font-semibold">What I can offer</h2>
        <p class="inter text-white py-3 md:py-[3rem] text-2xl md:text-3xl lg:max-w-[50%] opacity-[0.6]">I provide a range of services, capturing moments that matter most to you.</p>
      </div>
      <div class="p-3">
        <a data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" href="/" class="font-semibold inter text-xl link-primary white relative mt-5 text-white pr-[50px] max-md:mb-5">
          Check out my work
          <span class="inline-block absolute">
            <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 256"
            style="user-select: none; width: 30px; height: 30px; display: block; fill: rgb(255, 255, 255); color: rgb(255, 255, 255); flex-shrink: 0;"
            focusable="false"
            class="inline ml-3"
            color="rgb(255, 255, 255)">
            <g color="rgb(255, 255, 255)" weight="regular"><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path></g>
          </svg>
        </span>
        </a>
      </div>
    </div>
    <div class="basis-1/2 flex max-md:flex-col md:flex-row flex-wrap">

      <div class="basis-1/2 flex flex-col bb-white p-5 max-md:hidden">
      </div>
      <div class="basis-1/2 flex flex-col bl-white p-5 max-md:hidden">
      </div>

      <div class="basis-1/2 flex flex-col bl-white bb-white p-5 justify-around">
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="flex flex-row justify-between">
          <div clas="basis-1/2">
            <img src="{% static 'img/example.avif' %}" alt="Professional Headshots" class="max-w-[60px] rounded-md" />
          </div>
          <div class="basis-1/2 justify-end flex">
            <p class="text-white inter opacity-[0.6] text-xl font-2xl font-semibold">01</p>
          </div>
        </div>
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="pt-2">
          <h3 class="text-white font-semibold text-2xl inter">Headshots</h3>
          <p class="text-white opacity-[0.6] inter pt-2 text-base">Stand out with a polished professional look.</p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col bl-white bb-white p-5 max-md:hidden">
      </div>

      <div data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000" class="basis-1/2 flex flex-col bl-white bb-white p-5 justify-around">
        <div class="flex flex-row justify-between">
          <div clas="basis-1/2">
            <img src="{% static 'img/example.avif' %}" alt="Professional Headshots" class="max-w-[60px] rounded-md" />
          </div>
          <div class="basis-1/2 justify-end flex">
            <p class="text-white inter opacity-[0.6] text-xl font-2xl font-semibold">02</p>
          </div>
        </div>
        <div class="pt-2">
          <h3 class="text-white font-semibold text-2xl inter">Event</h3>
          <p class="text-white opacity-[0.6] inter pt-2 text-base">Stand out with a polished professional look.</p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col bl-white bb-white p-5 justify-around">
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="flex flex-row justify-between">
          <div clas="basis-1/2">
            <img src="{% static 'img/example.avif' %}" alt="Professional Headshots" class="max-w-[60px] rounded-md" />
          </div>
          <div data-aos="fade-in" data-aos-delay="50"
          data-aos-duration="1000" class="basis-1/2 justify-end flex">
            <p class="text-white inter opacity-[0.6] text-xl font-2xl font-semibold">03</p>
          </div>
        </div>
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="pt-2">
          <h3 class="text-white font-semibold text-2xl inter">Lifestyle</h3>
          <p class="text-white opacity-[0.6] inter pt-2 text-base">Stand out with a polished professional look.</p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col bl-white bb-white p-5 justify-around">
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="flex flex-row justify-between">
          <div clas="basis-1/2">
            <img src="{% static 'img/example.avif' %}" alt="Professional Headshots" class="max-w-[60px] rounded-md" />
          </div>
          <div class="basis-1/2 justify-end flex">
            <p class="text-white inter opacity-[0.6] text-xl font-2xl font-semibold">04</p>
          </div>
        </div>
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="pt-2">
          <h3 class="text-white font-semibold text-2xl inter">Product</h3>
          <p class="text-white opacity-[0.6] inter pt-2 text-base">Stand out with a polished professional look.</p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col bl-white bb-white p-5 justify-around">
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="flex flex-row justify-between">
          <div clas="basis-1/2">
            <img src="{% static 'img/example.avif' %}" alt="Professional Headshots" class="max-w-[60px] rounded-md" />
          </div>
          <div class="basis-1/2 justify-end flex">
            <p class="text-white inter opacity-[0.6] text-xl font-2xl font-semibold">05</p>
          </div>
        </div>
        <div data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" class="pt-2">
          <h3 class="text-white font-semibold text-2xl inter">Property</h3>
          <p class="text-white opacity-[0.6] inter pt-2 text-base">Stand out with a polished professional look.</p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col bl-white p-5 max-md:hidden">
      </div>

      <div data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000" class="basis-1/2 flex flex-col bl-white bb-white p-5 justify-around">
        <div class="flex flex-row justify-between">
          <div clas="basis-1/2">
            <img src="{% static 'img/example.avif' %}" alt="Professional Headshots" class="max-w-[60px] rounded-md" />
          </div>
          <div class="basis-1/2 justify-end flex">
            <p class="text-white inter opacity-[0.6] text-xl font-2xl font-semibold">06</p>
          </div>
        </div>
        <div class="pt-2">
          <h3 class="text-white font-semibold text-2xl inter">Aerial</h3>
          <p class="text-white opacity-[0.6] inter pt-2 text-base">Stand out with a polished professional look.</p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col p-5 max-md:hidden">
      </div>
      <div class="basis-1/2 flex flex-col bl-white p-5 max-md:hidden">
      </div>

    </div>
  </div>
</section>