{% load static %}

<section id="testimonials" class="w-full p-3">
  <div class="container mx-auto flex flex-col justify-around py-[5rem]">
    
    <div class="w-full border-t-2 pt-3 flex flex-row justify-between">
      <h2 data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000" class="inter font-semibold text-xl">Portfolio</h2>
      <p data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000" class="inter font-semibold text-xl">01</p>
    </div>
    <div class="block md:flex flex-row pt-20 h-full justify-between mb-[5rem]">
      <div class="basis-1/2 p-3" data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000">
        <h3 class="inter text-7xl font-semibold">See the magic for yourself</h3>
      </div>
      <div class="basis-1/2 flex flex-row justify-between" data-aos="fade-in" data-aos-delay="50"
      data-aos-duration="1000">
        <div class="basis-1/2 p-3">
          <p class="inter text-xl opacity-[0.6] font-semibold">Browse a curated collection of moments that have made their way into the hearts of clients.</p>
        </div>
        <div class="basis-1/2 p-3">
          <h3 class="inter font-semibold">What's my style?</h3>
          <p class="inter text-base opacity-[0.6]">Natural, emotive, and storytelling focused. I aim to capture the real you.</p>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between flex-wrap pt-5">
      {% include 'home/partials/portfolio-feed-item.html' %}
      {% include 'home/partials/portfolio-feed-item.html' %}
      {% include 'home/partials/portfolio-feed-item.html' %}
      {% include 'home/partials/portfolio-feed-item.html' %}
    </div>
  </div>
</section>