{% load static %}

<section id="testimonials" class="bg-white w-full p-3">
  <div class="container mx-auto flex flex-col justify-around py-[5rem] md:py-[10rem]">
    <div class="w-full border-t-2 pt-3 flex flex-row justify-between">
      <h2 class="inter font-semibold text-xl">Testimonials</h2>
      <p class="inter font-semibold text-xl">02</p>
    </div>
    <div class="block md:flex flex-row pt-20 h-full">
      <div class="basis-1/3 flex flex-col justify-between">
        <h3 class="inter opacity-[0.6] font-semibold text-2xl max-w-[500px]">Here's what people have to say about working together. Real moments, real experiences, real feedback.</h3>
        <div class="buttons flex flex-row justify-start gap-4 pt-10 pb-5">
          <div class="bg-grey p-5 rounded-full cursor-pointer" id="testimonials-prev">
            <svg fill="#111112" version="1.1" width="25px" height="25px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400.004 400.004" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"></path> </g> </g></svg>
          </div>
          <div class="bg-grey p-5 rounded-full cursor-pointer" id="testimonials-next">
            <svg fill="#111112" width="25px" height="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400.004 400.004" xml:space="preserve" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"></path> </g> </g></svg>
          </div>
        </div>
      </div>
      <div class="basis-2/3 px-5 min-h-[50vh]" id="testimonials-container">
        {% include 'home/partials/testimonial.html' with mainBody="This year I'd like to pass some special thanks to the legend that is Ben  Hollington, for being such a quality photographer for the AOF Lure Festival weekend!" snippet="Highly recommend for anyone looking for top-notch photography!" rating="5.0" author="John Doe" author_img="img/review-img.png" %}

        {% include 'home/partials/testimonial.html' with mainBody="The photos are stunning — capturing every moment perfectly. Plus, their friendly and professional demeanour made the entire process enjoyable." snippet="Highly recommend for anyone looking for top-notch photography!" rating="5.0" author="JHemmings Web Design" author_img="img/review-img.png"  %}

        {% include 'home/partials/testimonial.html' with mainBody="Another Example" snippet="Some other stuff" rating="5.0" author="John Doe" author_img="img/review-img.png" %}

        {% include 'home/partials/testimonial.html' with mainBody="Yet more Example" snippet="Some other stuff" rating="5.0" author="John Doe" author_img="img/review-img.png" %}

        {% include 'home/partials/testimonial.html' with mainBody="Can't think of anything" snippet="Some other stuff" rating="5.0" author="John Doe" author_img="img/review-img.png" %}

        {% include 'home/partials/testimonial.html' with mainBody="Last One" snippet="Some other stuff" rating="5.0" author="John Doe" author_img="img/review-img.png" %}
      </div>
    </div>
  </div>
</section>