{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  {% block core_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% tailwind_css %}
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  <title>FStops Photography {% block extra_title %}{% endblock %}</title>

  {% block core_js %}
    <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'ad_storage': 'denied',
      'analytics_storage': 'denied',
      'wait_for_update': 500,
    });  
    gtag('js', new Date());
    gtag('config', 'G-V8WWMK1SPF');
  </script>
</head>
<body>
  {% include 'partials/navigation.html' %}

  {% if messages %}
    <div class="message-container">
    </div>
  {% endif %}

  {% block content %}
  {% endblock %}

  {% block postload_js %}
  {% endblock %}

  {% include 'partials/footer.html' %}
  {% include 'partials/cookie-consent-banner.html' %}

<script src="{% static 'js/cookies-consent.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  // You can also pass an optional settings object
  // below listed default settings
  AOS.init({
    // Global settings:
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    disableMutationObserver: false, // disables automatic mutations' detections (advanced)
    debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
    throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
    
  
    // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
    offset: 120, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 400, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  
  });
</script>
</body>
</html>