{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-[10rem] pb-[5rem] p-5">
  {% include 'home/partials/quote-large.html' with quote="Photography is more than capturing moments; it's about revealing the beauty in the unseen. Every image tells a story waiting to be shared." %}
</div>

<section class="py-[5rem]">
  <div class="mx-auto container p-3">    
    <div class="md:grid md:grid-cols-3 md:grid-rows-6 gap-4 mt-4 w-full">

      {% for service in services %}
      <a
        href="{% url 'service_details' service.name %}" 
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="1000"

      {% if forloop.counter == 1 %}
        class="relative overflow-hidden col-start-1 row-start-1 row-span-4 col-span-1 p-5 center-bg-img rounded-lg flex flex-col justify-end pt-[10rem] max-md:mb-4 dark-overlay"
      {% endif %}
      {% if forloop.counter == 2 %}
        class="relative overflow-hidden col-start-1 row-start-5 row-span-2 p-5 center-bg-img rounded-lg flex flex-col justify-end pt-[10rem] max-md:mb-4 dark-overlay"
      {% endif %}
      {% if forloop.counter == 3 %}
        class="relative overflow-hidden col-start-2 row-start-1 row-span-3 p-5 center-bg-img rounded-lg flex flex-col justify-end pt-[10rem] max-md:mb-4 dark-overlay"
      {% endif %}
      {% if forloop.counter == 4 %}
        class="relative overflow-hidden col-start-2 row-start-4 row-span-3 p-5 center-bg-img rounded-lg flex flex-col justify-end pt-[10rem] max-md:mb-4 dark-overlay"
      {% endif %}
      {% if forloop.counter == 5 %}
        class="relative overflow-hidden col-start-3 row-start-1 row-span-2 p-5 center-bg-img rounded-lg flex flex-col justify-end pt-[10rem] max-md:mb-4 dark-overlay"
      {% endif %}
      {% if forloop.counter == 6 %}
        class="relative overflow-hidden col-start-3 row-start-3 row-span-4 p-5 center-bg-img rounded-lg flex flex-col justify-end pt-[10rem] max-md:mb-4 dark-overlay"
      {% endif %}

        style="background-image: url({{ service.background_image.url }});"
      >
        <h2 class="text-2xl text-white font-semibold relative z-20">
          {{ service.name }}
        </h2>
        <p class="text-white font-semibold opacity-[0.6] relative z-20">
          {{ service.details_description }}
        </p>
      </a>
      {% endfor %}














    </div>
  </div>
</section>

  {% include 'home/partials/testimonials.html' %}
{% endblock %}